button {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.2rem;
  border: 1px solid #cdcdcd;
}

p {
  border: 1px solid #cdcdcd;
  border-radius: 0.25rem;
  background-color: rgba(137, 205, 250, 0.25);
  padding: 10px;
  width: 50%;
}

.test-result {
  margin: 10px 0;
  padding: 0.25rem;
  border: 1px #cdcdcd solid;
  border-radius: 0.25rem;
  background-color: rgba(206, 225, 245, 0.44);
  width: 50%;
}
